/* reset code */
html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    color: #585858;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;

}

/*  wrapper */
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

/*  /wrapper */

.d-grid {
    display: grid;
}

button,
input,
select {
    -webkit-appearance: none;
    outline: none;
}

button,
.btn,
select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

form,
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

body a:hover {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

/* content */

/*
  Responsive form elements
  Flexbox layout
*/

/*/////////////// GLOBAL STYLES ////////////////////*/

body {
    font-family: 'Noto Sans', sans-serif;

}

.w3l-main {
    background: url(https://tonx.cc/bg.svg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    padding: 2em 0;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
}

.w3l-main:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.text-center {
    text-align: center;
}
.main-cover.w3 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}
/*/////////////// FONT STYLES ////////////////////*/
.content-w3ls {
    margin: 2em auto;
    padding: 2em 2em;
}
/*/////////////// FORM STYLES ////////////////////*/
.w3l-main .backw3l {
    color: #fff;
    background: transparent;
    font-size:18px;
    padding: 0 30px;
    font-weight:700;
    border: 2px solid #fff;
    height: 55px;
    display: inline-block;
    line-height:52px;
    transition: 0.5s;
    margin-top:34px;
}
.w3l-main .backw3l:hover{
    background:#fff;
    color:#475B3C;
}
h1.cover-para.w3ls {
    font-size: 260px;
    line-height: 2;
    text-align: right;
    color: #fff;
    display: inline-block;
    font-weight: 700;
}
h2{
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    color: #fff;
    font-weight: 600;
    margin-bottom: 16px;
    letter-spacing: 1px;
}
p.w3lparahny {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
    letter-spacing:.5px;
    opacity:0.9;
}
.w3l-main .search-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    margin-top:30px;
}

.w3l-main button.btn.search:hover {
    opacity: .8;
}

.w3l-main .form-inline.search-form {
    position: relative;
    max-width: 500px;
}

.copyright {
    text-align: center;
}

.copyright p,
.copyright p a {
    font-weight: 400;
    color: #fff;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 1px;
}
@media (max-width:1050px) {
    .main-cover.w3 {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        grid-gap: 20px;
    }
}
@media (max-width:991px) {
    .main-cover.w3 {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}
@media (max-width:800px) {
    .main-cover.w3 {
        display: grid;
        align-items: center;
        grid-template-columns:1fr;
        grid-gap: 20px;
    }
    h1.cover-para.w3ls {
        font-size: 240px;
        text-align: left;
    }
}
@media (max-width:600px) {
    h1.cover-para.w3ls {
        font-size:180px;
        text-align: left;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 16px;
        letter-spacing: 1px;
    }
}
@media (max-width: 415px) {
    h1.cover-para.w3ls {
        font-size: 140px;
        line-height: 1.2;
        letter-spacing: 0px;
    }
    h2 {
        font-size:28px;
        line-height:38px;
        margin-bottom:12px;
        letter-spacing: 1px;
    }
}


/* -- //Responsive code -- */